.bg-white {
  background-color: white;
}

label#age-label {
  margin-top: 10px;
  margin-left: -1px;
  font-size: 16px !important;
  color: red;
}

label#gender-label,
label#Race-label,
label#symptoms-label,
label#time-label,
label#riskFactors-label {
  margin-top: 12px;
  color: #000;
  margin-left: 12px;
  font-size: 18px !important;
}



label#firstDraw-label,
label#secondDraw-label,
label#thirdDraw-label,
label#date1-label,
label#date2-label,
label#date3-label {
  color: black;
}
input[type="radio" i] {
  background-color: white;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: white;
  border: white;
}