.bg-white {
  background-color: white;
}

label#age-label {
  margin-top: 10px;
  margin-left: -3px;
  font-size: 20px !important;
  color: red;
}

label#gender-label,
label#Race-label,
label#symptoms-label,
label#time-label,
label#riskFactors-label {
  margin-top: 21px;
  margin-left: 12px;
  font-size: 20px !important;
}
label#firstDraw-label,
label#secondDraw-label,
label#thirdDraw-label{
color: black;
}


label#date1-label,
label#date2-label,
label#date3-label{
color: black;
}

.cds-input-fields > input{
  font-size: 12px;
  text-align: right;
}
